@model IEnumerable<InForno.Models.Pizza>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Menu</h1>

    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    <div class="mt-3">
        <button class="btn btn-primary" onclick="loadCategory('GetPizze')">Pizze</button>
        <button class="btn btn-primary" onclick="loadCategory('GetDrinks')">Drinks</button>
    </div>

    <div id="categoryContent" class="table-responsive mt-3">
        <partial name="_Pizze" model="Model" />
    </div>
</div>

@section Scripts {
    <script>
        function loadCategory(action) {
            var url = '/Menu/' + action;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#categoryContent').html(data);
                }
            });
        }
    </script>
}
